@model IEnumerable<Colibri.Models.Command>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Content/CommandScript")
<h2>Vos commandes</h2>


@Html.ActionLink("Enregistrer une commande", "Create", "Commands", null, new { @class = "Add_Button" })

<div>
    Nombre de commandes : @Model.Count()
</div>
<hr />
<table class="table">
    <tr>
        <th>
            Date de commande
        </th>
        <th>
            Commentaire
        </th>
        <th>
            Fournisseur
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Date.ToString("dd/MM/yyyy")
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id },new { @class="Detail_Button"}) 
                @Html.ActionLink("Delete", "Delete", new { id = item.Id },new { @class="Delete_Button"}) 
            </td>
        </tr>
    }

</table>
@if (Model.Count() > 20)
{
    <div>Pagination</div>
}

@using (Html.BeginForm())
{
    <p>
        Rechercher par fournisseur: @Html.TextBox("searchSupplier",null,new { @maxlength = 15})
        <input type="submit" value="Rechercher"  class="Search_Button"/>
    </p>
}